.rr{
    text-align: center;
    border-radius: 25px;
    border: 2px solid #31a845;
    padding: 20px;
}

.g{
    color: rgb(255, 255, 255);
    font-size: 250%;
    font-family: cursive;
    text-align: center;
    
}

  