.rr{
    text-align: center;
    border-radius: 25px;
    border: 2px solid #343A40;
    padding: 5px;
}

.g{
    color: white;
    font-size: 250%;
    font-family: cursive;
    text-align: center;
    
}

  