@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');

.navbar-buttons{
    float: right !important
}

.r{
    float: left !important
}

.navbar-brand{
    font-family: cursive;
    font-weight: 500;
    
}